
.todoBlockContainer {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
}

@media (max-width: 1400px) {
  .todoBlockContainer {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
  }
}

@media (max-width: 750px) {
  .todoBlockContainer {
    width: 70%;
    margin-top: 40px;
  }
}



