

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sun {
  width: 40px;
  height: 40px;
  align-self: center;
  cursor: pointer;
}

.TodoTitle {
  color: white;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 12px;
}

@media (max-width: 1400px) {
  .TodoTitle {
    font-size: 40px;
    letter-spacing: 12px;
  }
}

@media (max-width: 750px) {
  .TodoTitle {
    font-size: 30px;
    letter-spacing: 12px;
  }

  .sun {
    width: 30px;
    height: 30px;
  }
}
